* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  max-height: 100%;
}

.App {
  display: grid;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  grid-template-columns: 50% 35% 15%;
  grid-template-rows: repeat(auto-fill, minmax(48%, 1fr));
  grid-gap: 8px;
  height: calc(100vh - 16px);;
  margin: 8px;
  width: calc(100% - 32px);
}

.App > * {
  background-color: rgb(42, 42, 42);
  color: rgba(255, 255, 255, 0.86);
  padding: 15px;
}

text {
  fill: rgba(255, 255, 255, 0.86);
}

h3 {
  margin-bottom: 5px;
}

.good {
  color: rgb(144, 197, 100);
}

.default {
  color: rgba(255, 255, 255, 0.86);
}

.bad {
  color: #E3524F;
}